/target
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
.mvn/wrapper/MavenWrapperDownloader.java
.idea/
.project
.classpath
.settings/
*.iml
.DS_Store
logs/
*.log
